* {
    box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*grid holding targets, auto size the grid*/
.target-grid {
    
    border: solid 5px black;
    width: 80%;
    height: 70vh;
    display:grid;
    grid-template-columns: repeat(var(--column-var), 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    min-width: 0;
    min-height: 0;
    
}

.target {
    background-color: white;
    font-size: 0;
}
.target.active {
    border: solid 2px white;
    padding: 0;
    width:auto;
    height: auto;
    min-width: 0;
    min-height: 0;
    font-size: 0;
    background-color: blueviolet;
    border-radius: 100%;
}

/*controls*/
.controls {
    display: flex;
}
.controls div{
    display: flex;
    
}
